@import "./features/scss/Variable.scss"; 
.heading{
    padding: 2rem 0rem;
    &__title{
        h3{
            text-align: center;
            letter-spacing: .1rem;
            text-transform: uppercase;
            a{
               color: $bgButtonApplyHover !important;
               &:hover{
                   color: $bgButtonDeadline !important;
               }
            }
        }
    }
    &__hr{
        width: 13%;
        height: 2px;
        background-color: $colorHr;
        margin: 0 auto;
    }
}
// .selector-for-some-widget {
//     box-sizing: content-box;
//   } 
.text-silver{
    color: silver;
}
@media (max-width:576px){
    .heading{
        &__hr{
            width: 30%;
        }
    }
}